* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

/* FIRST SECTION */
.first_section {
    background-color: #0C0404;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgb(34, 30, 30); */
    color: white;
}

/* NAVBAR SECTION */
.navbar_section a {
    text-decoration: none;
    color: white;
    padding: 5px;
}


.navbar_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 20px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar_section span {
    font-size: 45px;
    color: #FA0427FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar_section div {
    font-size: 45px;
    font-weight: 600;
}


.navbar_section ul li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding-top: 40px;
}

/* TOP SECTION */
.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.top_left p {
    color: rgb(197, 192, 192);
    /* width: 420px; */
    line-height: 30px;
    font-size: 25px;
}

.top_left input {
    padding: 10px;
    margin-top: 10px;
    background-color: #FA0427FA;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.top_left input:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.intro {
    font-size: 25px;
    color: rgb(197, 192, 192);
}

.role {
    padding: 15px 0;
}

.top_left .role {
    font-size: 45px;
}

.top_right img {
    margin-top: -100px;
}

/* 
.top_right img:hover {
    transform: scale(100px);
    transition: all;
    scale: 105px;
} */

/* SECOND SECTION */
.second_section {
    background-color: rgb(34, 30, 30);
    color: white;
    justify-content: center;
}

.project_listing div{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
/* .project_listing p{
    justify-content: center;

} */
.project_listing div a {
    flex-direction: column;
    text-decoration: none;
    color: #FA0427FA;
    line-height: 25px;
    font-size: large;
}

.first_three {
    align-items: flex-start;
}

.first_three a {


    gap: 15px;
    margin-bottom: 10px;
}

.last_three {
    align-items: flex-end;
}

.last_three a {

    /* align-items: center;
    justify-content: center; */
    gap: 15px;
    margin-bottom: 10px;
}


.project_listing a:hover {
    color: white;
}

/* ABOUT ME SECTION */
.about_me {
    padding: 15px;
    padding-top: 80px;
    text-align: center;
}

.about_me h2 {
    color: #FA0427FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}

.about_me p {
    font-size: 16px;
}

.about_me span {
    color: #FA0427FA;
    /* font-size: 30px; */
}

/* FOOTER */
.footer {
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

.footer_left img {
    width: 390px;
    height: 350px;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    /* width: 600px; */
    line-height: 25px;
}

.footer_right .name {
    font-size: 30px;
    color: #FA0427FA;
}

.footer_right p {
    line-height: 30px;
}


.icons {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.footer_icons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer_icons a {
    text-decoration: none;
    color: white;
}

.footer_icons span {
    color: rgb(161, 156, 156);
}

.footer_icons img {
    width: 20px;
    height: 20px;
}

.footer_icons a:hover {
    color: #FA0427FA;
}

.left_icons {
    display: flex;
    flex-direction: column;
}

.left_icons div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.right_icons {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.right_icons div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.last_section {
    text-align: center;
    background-color: #0C0404;
    color: white;
    margin: 0;
    padding: 20px;
}

.last_section span {
    color: #FA0427FA;
}

.last_section span:hover {
    color: white;
}

.navbar_section ul li a:hover {
    color: white;

}

/* MEDIA QURIES */
@media screen and (max-width:700px) {
    html {
        overflow-x: hidden;
        height: 100vh;
    }

    .container {
        height: 100vh;
        width: 100%;
    }

    .navbar_section {
        flex-direction: column;
    }

    .navbar_section div {
        font-size: 30px;
    }

    .navbar_section span {
        font-size: 30px;
    }

    .navbar_section ul li {
        padding-top: 20px;
    }

    .first_section {
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 10px;
    }

    .top_section {
        flex-direction: column;
        padding: 50px;
    }

    .top_left p {
        width: 300px;
        line-height: 40px;
        font-size: 25px;
    }

    .top_left .role {
        font-size: 30px;
    }

    .top_right img {
        margin-top: 35px;
        width: 90%;
    }

    .about_me {
        text-align: center;

    }

    .footer {
        flex-direction: column;
        padding: 50px;
        justify-content: space-between;
    }

    .footer_left img {
        width: 100%;
        height: 300px;
    }

    .footer_right p {
        width: 300px;
    }


    .icons {}

    .footer_icons {
        gap: 2px;
        flex-direction: column;

    }

    .left_icons,
    .right_icons {
        padding-left: 10px;
        gap: 1px;
    }

    .last_section {
        text-align: center;
        padding: 20px;
    }
}

@media screen and (max-width:1050px) {
    body {
        width: 100%;
    }

    .top_section {
        display: block;
    }

    .top_right {
        margin-top: 100px;
    }

    .footer {
        display: block;
    }

    .footer_left {
        text-align: center;
    }

    .footer_right {
        padding: 40px 0;
        justify-content: center;
        margin-left: 60px;
        align-items: center;

    }

    .icons {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 210px;
    }

    .footer_icons {
        gap: 10px;
        display: block;
    }
}